body {
    background-color: red;
}

.container-fluid {
    padding: 20px 10px;
}

.react-bootstrap-table {
    overflow-x: auto;
}


.react-bootstrap-table table {
    width: 4000px;
}
